.admin-area {
  input[type="file"] {
    padding: .2rem;
  }
  .brand {
    padding: 1rem;
    p {
      font-weight: 800;
      color: $blue;
    }
  }
  .container {
    form {
      max-width: 38rem;
      margin: 0 auto;
    }
    label {
      font-weight: 800;
    }
    .submit-btn {
      float: right;
    }
  }
}
